[user]
	name = Umberto Raimondi
	email = me@onlyhype.com
[github]
	user = uraimo
	token = <hidden>

[color]
	branch = auto
	diff   = auto
	status = auto

[alias]
	st        = status
	co        = checkout
	br        = branch
	lg        = log --pretty=oneline --graph
	logfull   = log --pretty=fuller --graph --stat -p
	unstage   = reset HEAD

[diff]
	tool = vimdiff
[difftool]
    prompt = false
[merge]
    tool = vimdiff
[mergetool]
    prompt = false
	keepBackup = false
